.img-grid {
  --gap: 12px;
  --num-cols: 4;
  --row-height: 200px;

  box-sizing: border-box;
  padding: var(--gap);
  padding-left: 0;
  // margin: 0;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  margin-bottom: 30px;
}

.img-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-grid-main {
  grid-column: span 2;
  grid-row: span 2;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
}

.img-grid-tr {
  border-top-right-radius: 14px;
}

.img-grid-br {
  border-bottom-right-radius: 14px;
}

@media screen and (max-width: 1024px) {
  .img-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}
