.main-listing {
  padding-top: .625rem;
  border-width: 5px;
}

.container-card{
  display: flex;
  gap: 10px;

}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}


.row-listings {
  width: 60% !important;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px;
  margin-top: 0;
}

@media(max-width: 1000px) {
  .row-listings {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 800px) {
  .row-listings {
    grid-template-columns: 1fr;
  }
}
