<div class="container">
  <h1>All of my bookings</h1>
  <% @bookings.each do |b| %>
    <h2><%= b.listing.listing_name %></h2>
    <p>Reservation start date: <%= b.start_date %></p>
    <p>Reservation end date: <%= b.end_date %></p>
  <% end %>
</div>
