<div class="hero-container">
  <div class="search-container">
    <div class="form-container">
      <h1>Find the perfect space for your event.</h1>
      <form action="">
        <label for="">Search by location:</label>
        <input type="text">
        <label for="">Prefered dates:</label>
        <input type="text">
        <input type="submit">
      </form>
    </div>
  </div>
  <div class="img-container">
  </div>
</div>
