<div class="hero-container">
  <div class="search-container">
    <div class="form-container">
      <h1>Find the perfect space for your event.</h1>
      <form action="">
        <div class="form-group">
          <label for="">Search by location:</label>
          <input type="text" class="form-control"/>
          <small id="searchHelp" class="form-text text-muted">Enter the location, which you like!</small>
        </div>
        <div class="form-group">
          <label for="">Prefered dates:</label> <!-- Use calendar -->
          <input type="text" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="img-container">
  </div>
</div>
