// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  min-height: 100vh;
  flex-direction: column;

}
// a {
//   text-decoration: none;
//   color: black;
// }
// a:hover {
//   text-decoration: none;
//   color: black;

// }
